## IMPORTING LIBRARIES

In [1]:
import math
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

## READING DATA

In [2]:
data_url = (
    "https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz"
)
raw_data = pd.read_csv(data_url, header=None)
print(f"Dataset shape: {raw_data.shape}")
raw_data.head()

Dataset shape: (581012, 55)

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [3]:
soil_type_values = [f"soil_type_{idx+1}" for idx in range(40)]
wilderness_area_values = [f"area_type_{idx+1}" for idx in range(4)]

soil_type = raw_data.loc[:, 14:53].apply(
    lambda x: soil_type_values[0::1][x.to_numpy().nonzero()[0][0]], axis=1
)
wilderness_area = raw_data.loc[:, 10:13].apply(
    lambda x: wilderness_area_values[0::1][x.to_numpy().nonzero()[0][0]], axis=1
)

CSV_HEADER = [
    "Elevation",
    "Aspect",
    "Slope",
    "Horizontal_Distance_To_Hydrology",
    "Vertical_Distance_To_Hydrology",
    "Horizontal_Distance_To_Roadways",
    "Hillshade_9am",
    "Hillshade_Noon",
    "Hillshade_3pm",
    "Horizontal_Distance_To_Fire_Points",
    "Wilderness_Area",
    "Soil_Type",
    "Cover_Type",
]

data = pd.concat(
    [raw_data.loc[:, 0:9], wilderness_area, soil_type, raw_data.loc[:, 54]],
    axis=1,
    ignore_index=True,
)
data.columns = CSV_HEADER

# Convert the target label indices into a range from 0 to 6 (there are 7 labels in total).
data["Cover_Type"] = data["Cover_Type"] - 1

print(f"Dataset shape: {data.shape}")
data.head().T

Dataset shape: (581012, 13)

,0,1,2,3,4
Elevation,2596,2590,2804,2785,2595
Aspect,51,56,139,155,45
Slope,3,2,9,18,2
Horizontal_Distance_To_Hydrology,258,212,268,242,153
Vertical_Distance_To_Hydrology,0,-6,65,118,-1
Horizontal_Distance_To_Roadways,510,390,3180,3090,391
Hillshade_9am,221,220,234,238,220
Hillshade_Noon,232,235,238,238,234
Hillshade_3pm,148,151,135,122,150
Horizontal_Distance_To_Fire_Points,6279,6225,6121,6211,6172
Wilderness_Area,area_type_1,area_type_1,area_type_1,area_type_1,area_type_1
Soil_Type,soil_type_29,soil_type_29,soil_type_12,soil_type_30,soil_type_29
Cover_Type,4,4,1,1,4

In [4]:
train_splits = []
test_splits = []

for _, group_data in data.groupby("Cover_Type"):
    random_selection = np.random.rand(len(group_data.index)) <= 0.85
    train_splits.append(group_data[random_selection])
    test_splits.append(group_data[~random_selection])

train_data = pd.concat(train_splits).sample(frac=1).reset_index(drop=True)
test_data = pd.concat(test_splits).sample(frac=1).reset_index(drop=True)

print(f"Train split size: {len(train_data.index)}")
print(f"Test split size: {len(test_data.index)}")

Train split size: 493728
Test split size: 87284

In [5]:
train_data_file = "train_data.csv"
test_data_file = "test_data.csv"

train_data.to_csv(train_data_file, index=False)
test_data.to_csv(test_data_file, index=False)

In [6]:
TARGET_FEATURE_NAME = "Cover_Type"

TARGET_FEATURE_LABELS = ["0", "1", "2", "3", "4", "5", "6"]

NUMERIC_FEATURE_NAMES = [
    "Aspect",
    "Elevation",
    "Hillshade_3pm",
    "Hillshade_9am",
    "Hillshade_Noon",
    "Horizontal_Distance_To_Fire_Points",
    "Horizontal_Distance_To_Hydrology",
    "Horizontal_Distance_To_Roadways",
    "Slope",
    "Vertical_Distance_To_Hydrology",
]

CATEGORICAL_FEATURES_WITH_VOCABULARY = {
    "Soil_Type": list(data["Soil_Type"].unique()),
    "Wilderness_Area": list(data["Wilderness_Area"].unique()),
}

CATEGORICAL_FEATURE_NAMES = list(CATEGORICAL_FEATURES_WITH_VOCABULARY.keys())

FEATURE_NAMES = NUMERIC_FEATURE_NAMES + CATEGORICAL_FEATURE_NAMES

COLUMN_DEFAULTS = [
    [0] if feature_name in NUMERIC_FEATURE_NAMES + [TARGET_FEATURE_NAME] else ["NA"]
    for feature_name in CSV_HEADER
]

NUM_CLASSES = len(TARGET_FEATURE_LABELS)

In [7]:
def get_dataset_from_csv(csv_file_path, batch_size, shuffle=False):

    dataset = tf.data.experimental.make_csv_dataset(
        csv_file_path,
        batch_size=batch_size,
        column_names=CSV_HEADER,
        column_defaults=COLUMN_DEFAULTS,
        label_name=TARGET_FEATURE_NAME,
        num_epochs=1,
        header=True,
        shuffle=shuffle,
    )
    return dataset.cache()

In [8]:
learning_rate = 0.001
dropout_rate = 0.1
batch_size = 265
num_epochs = 50

hidden_units = [32, 32]


def run_experiment(model):

    model.compile(
        optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        loss=keras.losses.SparseCategoricalCrossentropy(),
        metrics=[keras.metrics.SparseCategoricalAccuracy()],
    )

    train_dataset = get_dataset_from_csv(train_data_file, batch_size, shuffle=True)

    test_dataset = get_dataset_from_csv(test_data_file, batch_size)

    print("Start training the model...")
    history = model.fit(train_dataset, epochs=num_epochs)
    print("Model training finished")

    _, accuracy = model.evaluate(test_dataset, verbose=0)

    print(f"Test accuracy: {round(accuracy * 100, 2)}%")

In [9]:
def create_model_inputs():
    inputs = {}
    for feature_name in FEATURE_NAMES:
        if feature_name in NUMERIC_FEATURE_NAMES:
            inputs[feature_name] = layers.Input(
                name=feature_name, shape=(), dtype=tf.float32
            )
        else:
            inputs[feature_name] = layers.Input(
                name=feature_name, shape=(), dtype=tf.string
            )
    return inputs

In [16]:
from tensorflow.keras.layers import StringLookup


def encode_inputs(inputs, use_embedding=False):
    encoded_features = []
    for feature_name in inputs:
        if feature_name in CATEGORICAL_FEATURE_NAMES:
            vocabulary = CATEGORICAL_FEATURES_WITH_VOCABULARY[feature_name]
            # Create a lookup to convert string values to an integer indices.
            # Since we are not using a mask token nor expecting any out of vocabulary
            # (oov) token, we set mask_token to None and  num_oov_indices to 0.
            lookup = StringLookup(
                vocabulary=vocabulary,
                mask_token=None,
                num_oov_indices=0,
                output_mode="int" if use_embedding else "binary",
            )
            if use_embedding:
                # Convert the string input values into integer indices.
                encoded_feature = lookup(inputs[feature_name])
                embedding_dims = int(math.sqrt(len(vocabulary)))
                # Create an embedding layer with the specified dimensions.
                embedding = layers.Embedding(
                    input_dim=len(vocabulary), output_dim=embedding_dims
                )
                # Convert the index values to embedding representations.
                encoded_feature = embedding(encoded_feature)
            else:
                # Convert the string input values into a one hot encoding.
                encoded_feature = lookup(tf.expand_dims(inputs[feature_name], -1))
        else:
            # Use the numerical features as-is.
            encoded_feature = tf.expand_dims(inputs[feature_name], -1)

        encoded_features.append(encoded_feature)

    all_features = layers.concatenate(encoded_features)
    return all_features

In [17]:
def create_baseline_model():
    inputs = create_model_inputs()
    features = encode_inputs(inputs)

    for units in hidden_units:
        features = layers.Dense(units)(features)
        features = layers.BatchNormalization()(features)
        features = layers.ReLU()(features)
        features = layers.Dropout(dropout_rate)(features)

    outputs = layers.Dense(units=NUM_CLASSES, activation="softmax")(features)
    model = keras.Model(inputs=inputs, outputs=outputs)
    return model


baseline_model = create_baseline_model()
keras.utils.plot_model(baseline_model, show_shapes=True, rankdir="LR")

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.

In [18]:
!pip install pydot

Collecting pydot
  Downloading pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\asus\anaconda3\lib\site-packages (from pydot) (3.0.4)
Installing collected packages: pydot
Successfully installed pydot-1.4.2

In [ ]:
run_experiment(baseline_model)

Start training the model...
Epoch 1/50
1864/1864 [==============================] - 19s 9ms/step - loss: 0.7758 - sparse_categorical_accuracy: 0.6784
Epoch 2/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.6648 - sparse_categorical_accuracy: 0.7144
Epoch 3/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.6392 - sparse_categorical_accuracy: 0.7259
Epoch 4/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.6184 - sparse_categorical_accuracy: 0.7348
Epoch 5/50
1864/1864 [==============================] - 15s 8ms/step - loss: 0.6033 - sparse_categorical_accuracy: 0.7410
Epoch 6/50
1864/1864 [==============================] - 15s 8ms/step - loss: 0.5953 - sparse_categorical_accuracy: 0.7443
Epoch 7/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5888 - sparse_categorical_accuracy: 0.7474
Epoch 8/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.5842 - sparse_categorical_accuracy: 0.7493
Epoch 9/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.5800 - sparse_categorical_accuracy: 0.7504
Epoch 10/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5757 - sparse_categorical_accuracy: 0.7522
Epoch 11/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5732 - sparse_categorical_accuracy: 0.7532
Epoch 12/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5703 - sparse_categorical_accuracy: 0.7546
Epoch 13/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5677 - sparse_categorical_accuracy: 0.7551
Epoch 14/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5656 - sparse_categorical_accuracy: 0.7570
Epoch 15/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.5635 - sparse_categorical_accuracy: 0.7574
Epoch 16/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.5607 - sparse_categorical_accuracy: 0.7579
Epoch 17/50
1864/1864 [==============================] - 20s 11ms/step - loss: 0.5597 - sparse_categorical_accuracy: 0.7591
Epoch 18/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5580 - sparse_categorical_accuracy: 0.7595
Epoch 19/50
1864/1864 [==============================] - 16s 8ms/step - loss: 0.5580 - sparse_categorical_accuracy: 0.7599
Epoch 20/50
1864/1864 [==============================] - 18s 10ms/step - loss: 0.5553 - sparse_categorical_accuracy: 0.7612
Epoch 21/50
1864/1864 [==============================] - 18s 10ms/step - loss: 0.5545 - sparse_categorical_accuracy: 0.7612
Epoch 22/50
1864/1864 [==============================] - 18s 9ms/step - loss: 0.5535 - sparse_categorical_accuracy: 0.7623
Epoch 23/50
1864/1864 [==============================] - 15s 8ms/step - loss: 0.5521 - sparse_categorical_accuracy: 0.7629
Epoch 24/50
1864/1864 [==============================] - 15s 8ms/step - loss: 0.5510 - sparse_categorical_accuracy: 0.7631
Epoch 25/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5499 - sparse_categorical_accuracy: 0.7636
Epoch 26/50
1864/1864 [==============================] - 18s 10ms/step - loss: 0.5491 - sparse_categorical_accuracy: 0.7632
Epoch 27/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5481 - sparse_categorical_accuracy: 0.7642
Epoch 28/50
1864/1864 [==============================] - 16s 9ms/step - loss: 0.5469 - sparse_categorical_accuracy: 0.7653
Epoch 29/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5457 - sparse_categorical_accuracy: 0.7656
Epoch 30/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5449 - sparse_categorical_accuracy: 0.7652
Epoch 31/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5446 - sparse_categorical_accuracy: 0.7662
Epoch 32/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5431 - sparse_categorical_accuracy: 0.7669
Epoch 33/50
1864/1864 [==============================] - 19s 10ms/step - loss: 0.5425 - sparse_categorical_accuracy: 0.7665
Epoch 34/50
1864/1864 [==============================] - 17s 9ms/step - loss: 0.5428 - sparse_categorical_accuracy: 0.7669
Epoch 35/50
1864/1864 [==============================] - 14s 8ms/step - loss: 0.5406 - sparse_categorical_accuracy: 0.7679
Epoch 36/50
1864/1864 [==============================] - 18s 10ms/step - loss: 0.5409 - sparse_categorical_accuracy: 0.7681
Epoch 37/50
 791/1864 [===========>..................] - ETA: 8s - loss: 0.5391 - sparse_categorical_accuracy: 0.7680